
<h1>ADD A NEW COMICBOOK</h1>
<div class="col-md-8 col-md-offset-2">

<h3>Comicbook details</h3>
<h3 style="color:red;"><%=@error%></h3>
<ul>
  <form action="/comic_books" method="post">
  <li><b><label for="name">Title:</label></li>
  <input type="text" name="comic_book[title]">
  <li><b><label for="publisher">Publisher:</label></li>
  <input type="text" name="comic_book[publisher]">
  <li><b><label for="number">Number:</label></li>
  <input type="number" name="comic_book[number]">
  <li><b><label for="name">Writer:</label></li>
  <input type="text" name="comic_book[writer]">
 <li><b> <label for="name">Artist:</label></li>
  <input type="text" name="comic_book[artist]">
 <li><b><input type="submit" value="Submit"></li>
</form>
</ul>
</div>



