<div class="container">
  <header><img src="images/mybanner.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <h1>Welcome to ComicBook Library</h1>

      <p> Don't keep your unread comics in your attic. Help your community by donating comicbooks to our ComicBook Library. 
       keep track of the comics in our collection and add your comicbooks as donations. </p>
      <p>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</p>
      
    </div>

    <div class="sidebar">
      <h3>Login</h3>
      <ul>
      <form action="/login" method="POST">
        <li><b><input type="text" name="username" placeholder="username:"></li>
        <li><b><input type="password" name="password" placeholder="password:"></li>
        <li><b><input type="submit" value="Log In"></li><b></form>
      </ul>
    </div>

  </div>
</div>
